@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
  }
  #perfilImagen {
    width: 200px;
  }
  
  input[type=text], select, textarea, input[type=email]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    color: black;
    font-family: 'Martel', serif;
    font-size: 1.25em;
  }
  
  #titulo {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Martel', serif;
  }

  input[type=submit] {
    background-color: #4C4C6D;
    color: white;
    margin-top: 20px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  .container {
    border-radius: 5px;
    background-color: #FFE194;
    padding: 20px;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  
  .col-25 {
    float: left;
    width: 15%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 85%;
    margin-top: 6px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
    #perfilImagen {
      width: 30%;
    }
    .img {

      height: 175px;

    }
  }